<div class="col-md-6 offset-md-3 mt-5">
    <div class="card" style="width: 50rem;">
        <div class="card-header text-right">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/order-list">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Logout</a>
                </li>
            </ul>
        </div>
        <br>
        <img src="https://www.aljazeera.com/mritems/imagecache/mbdxxlarge/mritems/Images/2020/4/12/a959856b75494addbd4ad4a1c9d56a42_18.jpg"
            class="card-img-top" alt="Happy serving the needy...">
        <div class="card-body">
            <h5 class="card-title">We are happy to serve you...</h5>
            <button type="button" class="btn btn-primary" (click)="placeOrder()">Place you order now</button>
        </div>
        <!-- credits -->
        <div class="text-center mt-4">
            <p>Powered By Fortune In Misfortune (FIM)
            </p>
        </div>
    </div>
</div>